:root {
  --ColorMainBackground: #22071B;
  --ColorMainForeground: #551143;
  --ColorMainHeader: #79155D;
  --ColorMenuBackground: #511730;
  --ColorMenuForeground: #6F1F42;
  --ColorMenuItemBG: #300D1C;
  --ColorSubmenuBackground: #8E443D;
  --ColorSubmenuForeground: #BC6962;
  --ColorSubmenuItemBG: #723631;
  --ColorHighlightBackground: #330A28;
  --ColorLink: #6F1F42;
  --ColorLinkVisited: #511730;
  --ColorLinkHover: #902757;
}
h1{
 display:none; 
}
body{
  background-color:var(--ColorMainBackground);
  color:var(--ColorMainForeground);
  margin:0px;
  padding:0px;
}
td{
  color:var(--A);
  font-family:calibri;
  width:190px;
  margin:0px;
  margin-left:1px;
  margin-top:1px;
}
table {
  text-align:center;
  margin:0px;
  padding:0px;
}
.highlight{
 background-color:var(--ColorHighlightBackground) !important;
}
.subMenu{
 display:none;
 background-color:var(--ColorSubmenuBackground);
}
.subMenu td:hover{
  background-color:var(--ColorSubmenuForeground);
  color:var(--ColorSubmenuItemBG);
}
.menu td{
  background-color:var(--ColorSubmenuItemBG);
  color:var(--ColorSubmenuForeground);
}
.menu td:hover{
  background-color:var(--ColorSubmenuForeground);
  color:var(--ColorSubmenuItemBG);
}
a{
 color:var(--ColorLink);
}
a:hover{
 color:var(--ColorLinkHover);
}
a:visited{
 color:var(--ColorLinkVisited);
}
#menu {
  float:left;
  height:100%;
  margin:0px;
  padding:0px;
}
iframe {
  width: calc(100% - 200px);
  height:100%;
  float:right;
  margin:0px;
  padding:0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:var(--ColorMainHeader);
}
