:root {
  --ColorMainBackground: #000000;
  --ColorMainForeground: #25bb44;
  --ColorMainHeader: #ff0000;
  --ColorMenuBackground: #330077;
  --ColorMenuForeground: #9900ff;
  --ColorMenuItemBG: #330077;
  --ColorSubmenuBackground: #9900ff;
  --ColorSubmenuForeground: #330077;
  --ColorSubmenuItemBG: #9900ff;
  --ColorHighlightBackground: #47344d;
  --ColorLink: #6633bb;
  --ColorLinkVisited: #6633bb;
  --ColorLinkHover: #6600ff;
}
h1{
 display:none; 
}
body{
  background-color:var(--ColorMainBackground);
  color:var(--ColorMainForeground);
  margin:0px;
  padding:0px;
}
td{
  color:var(--A);
  font-family:calibri;
  width:190px;
  margin:0px;
  margin-left:1px;
  margin-top:1px;
}
table {
  text-align:center;
  margin:0px;
  padding:0px;
}
.highlight{
 background-color:var(--ColorHighlightBackground) !important;
}
a{
 color:var(--ColorLink);
}
a:visited{
 color:var(--ColorLinkVisited);
}
a:hover{
 color:var(--ColorLinkHover);
}
#menu {
  float:left;
  height:100%;
  margin:0px;
  padding:0px;
}
#menu table td{
  background-color:var(--ColorMenuItemBG);
  color:var(--ColorMenuForeground);
}
#menu table td:hover{
  background-color:var(--ColorMenuForeground);
  color:var(--ColorMenuItemBG);
}
.subMenu{
 display:none;
 background-color:var(--ColorSubmenuBackground);
 color:var(--ColorSubmenuForeground);
}
.subMenu td:hover{
  background-color:var(--ColorSubmenuForeground) !important;
  color:var(--ColorSubmenuItemBG) !important;
}
.subMenu td{
  background-color:var(--ColorSubmenuBackground) !important;
  color:var(--ColorSubmenuForeground) !important;
}
iframe {
  width: calc(100% - 200px);
  height:100%;
  float:right;
  margin:0px;
  padding:0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:var(--ColorMainHeader);
}
